<div class="modal fade" id="modalTriagemDetails" tabindex="-1" aria-labelledby="modalTriagemDetailsLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content" style="border-radius:18px;">
      <div class="modal-header">
        <div>
          <h5 class="modal-title" id="modalTriagemDetailsLabel">Detalhes do candidato</h5>
          <div class="text-muted small">Triagem, match e historico</div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="triagemDetailBody"></div>
      </div>
    </div>
  </div>
</div>

